* {
	background-image: none;
	box-shadow: none;
}

window {
  font-family: FiraCode Nerd Font, monospace;
  font-size: 0px;
	background-color: rgba(36, 39, 58, 0.90);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0px;
  padding: 100px 0px;
  background-size: 25%;
	color: #cad3f5;
  text-shadow: none;
  border: 50px;
  border-radius: 20px;
  background-color: rgba(53, 57, 75, 0.3);
  margin: 20px;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:active, button:hover {
	background-color: rgba(53, 57, 75, 1);
	outline-style: none;
}

#lock {
  background-image: image(url("/home/canvas/.config/wlogout/icons/lock.svg"));
}

#logout {
  background-image: image(url("/home/canvas/.config/wlogout/icons/logout.svg"));
}

#shutdown {
  background-image: image(url("/home/canvas/.config/wlogout/icons/shutdown.svg"));
}

#reboot {
  background-image: image(url("/home/canvas/.config/wlogout/icons/reboot.svg"));
}

#windows {
  background-image: image(url("/home/canvas/.config/wlogout/icons/windows.svg"));
}

#nixos {
  background-image: image(url("/home/canvas/.config/wlogout/icons/nixos.svg"));
}
